# --- Project artifacts we do NOT commit ---
target/
.m2/

# Test reports & coverage
**/surefire-reports/
**/failsafe-reports/
**/jacoco.exec
**/target/site/jacoco/
**/pit-reports/

# Logs
*.log
logs/

# --- IDE files (ignore by default) ---
# Eclipse / STS
.classpath
.project
.settings/
.apt_generated
.springBeans
.sts4-cache

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/
